/* STYLESHEET FOR SUNDANESE SCRIPT CONVERTER */
/* dian.nugraha@gmail.com */

@font-face {
  font-family: 'Sundanese Unicode';
  src: url('./SundaneseUnicode-1.0.6.ttf');
}

body {
	font-size: 67.5%;
	font-family: "Segoe UI", Tahoma, sans-serif;
	background-image: url("aksara_bg.gif");
}

p, li {
	font-size: 1.4em;
}

h1 {
	font-size: 2.1em;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 0;
}

h3 {
	font-size: 1.6em;
	padding: 0;
	margin: 0;
}

#page-wrap {
	margin: 0px auto;
	width: 500px;
}

textarea#LatinText, textarea#SundaText {
	width: 100%;
	height: 150px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: "Segoe UI", Tahoma, sans-serif;
    background: white;
}

textarea#SundaText {
	font-family: "Sundanese Unicode", sans-serif;
	font-size: 2.0em;
	height: 200px;
}

.footer {
	font-size:0.8em;
}

.hint {
	font-size:0.9em;
	color: blue;
	text-align: right;
	padding: 0px; margin: 0px;
}